/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
:root {
  --main-color: #000000;
  --text-color: #2f2f2f;
  --bg-color: #fff;
  --bg-abu: #505050;
  --bg-oren: #FFA015;
  --bg-merah: #FF2828;
  --bg-orencerah:#FFB931;
  --bg-putihredup: #EDEDED;
  --bg-putih: #FFFFFF;
  --gatau1: #FF7F22;
  --gatau2: #9A2A04;
  
  --big-font: 3.2rem;
  --h2-font: 2rem;
}
section {
  padding: 50px 10%;
}
body {
  color: var(--text-color);
  background: var(--bg-putih);
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  box-shadow: 0px 0px 7px #CBCBCB;
  padding: 18px 10%;
  
}
.logo {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--bg-oren);
}
.navbar {
  display: flex;
}
.navbar a {
  font-size: medium;
  
  padding: 10px 20px;
  color: var(--text-color);
  font-weight: 500;
}
.navbar a:hover {
  background: var(--bg-oren);
  color: var(--bg-putih);
  border-radius: 2rem;
}
#menu-icon {
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.home {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  background: var(--gatau1);
  gap: 9rem;
  text-align: center;
  color: #FFFFFF;
}
.home-text{
  text-align: center;
}
.home-img img {
  width: 35%;
  border-radius: 20px;
  box-shadow: 0px 0px 7px #CBCBCB;
  text-align: center;
}
.home-text h2{
  font-size: large;
}
.home-text h3 {
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 400;
  padding: 10px;
  width: 190px;
  border-radius: 2rem;
  background: var(--bg-oren);
}
.home-text h1 {
  font-size: var(--big-font);
}
.home-text span {
  color: var(--main-color);
}
.home-text p {
  max-width: 80%;
  margin: 1rem 0 1.1rem;
}
.btn {
  background: var(--bg-oren);
  display: inline-block;
  padding: 10px 20px;
  border-radius: 2rem;
  color: #fff;
}
.btn:hover {
  background: var(--bg-putih);
  color: var(--main-color);
  transition: 0.5s;
}
.btn1 a{
  font-size: xx-large;
  font-weight: 600;
}
.btn1{
  background: var(--bg-putih);
  color: #000000;
  outline-width: 3px;
  outline-color: #FFBE00;
  outline-style: solid;
  border-radius: 5px;
  
}

.btn1:hover{
  background: var(--bg-oren);
  color: #FFFFFF;
}
.btnsr{
  background: var(--bg-putih);
  border-radius: 0px;
  outline-width: 3px;
  outline-color: #FFBE00;
  outline-style: solid;
  width: 150px;
  font-size: large;
  color: #000000;
}
.btnsr:hover{
  background: var(--bg-oren);
  color: #fff;
  transition: 0.5s;
}
.heading {
  text-align: center;
}
.heading p {
  text-transform: uppercase;
  font-weight: 500;
}
.heading h2 {
  font-size: var(--h2-font);
}
.services{
  margin-top: 50px;
}
.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  gap: 1.5rem;
  margin-top: 5rem;
}
.box {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: var(--bg-orencerah);
  border-radius: 20px;
}
.box p{
  color: var(--bg-putih);
}
.box img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.box h2 {
  font-size: 2.5rem;
  margin: 1.7rem 0 1rem;
  color: var(--bg-putih);
}
.showroom-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  gap: 1.5rem;
  margin-top: 4rem;
}
.boxsr {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}
.boxsr img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.boxsr h2 {
  font-size: 2.5rem;
  margin: 1.7rem 0 1rem;
}
.chefs .chefs-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 1.5rem;
}
.chefs .chefs-container .chef-box {
  position: relative;
  height: 420px;
  flex: 1 1 18rem;
  overflow: hidden;
  box-shadow: 0px 0px 5px #000000;
}
.chefs .chefs-container .chef-box:hover{
  box-shadow: 0px 0px 15px #FF9C08;
  transition: 1s;
}
.chefs .chefs-container .chef-box:not(:hover){
  box-shadow: 0px 0px -10px #FFDE0D;
  transition: 1s;
}
.chefs .chefs-container .chef-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
.chefs .chefs-container .chef-box .text {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20px;
  padding-top: 8rem;
  background: #00000069;
  transition: 0.5s;
}
.chefs .chefs-container .chef-box:hover .text {
  top: 0;
}
.text h2{
  background: #FF96127A;
  border-radius: 10px;
}
.chef-box .text h2 {
  font-size: 1.2rem;
  color: #FFFFFF;
}
.chef-box .text p {
  margin: 0.4rem 0 1rem;
  color: #FFFFFF;
}
.contact-form {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
.contact-form form {
  display: flex;
  flex-direction: column;
}
.contact-form form input,
textarea {
  width: 400px;
  padding: 14px;
  margin-bottom: 10px;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  background: #fff4f3;
}
.contact-form form textarea {
  resize: none;
  height: 200px;
}
.contact-form form .contact-button {
  font-weight: 500;
  color: #fff;
  background: var(--main-color);
  cursor: pointer;
}
.contact-form form .contact-button:hover {
  background: #fc5552;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social a {
  font-size: 27px;
  margin: 0.5rem;
}
.social a .bx {
  padding: 5px;
  color: #fff;
  background: #161616;
  border-radius: 50%;
}
.social a .bx:hover {
  background: var(--main-color);
}
.links {
  margin: 0.5rem 0 0.5rem;
}
.links a {
  font-size: small;
  font-weight: 500;
  color: var(--second-color);
  padding: 0.5rem;
}
.links a:hover {
  color: var(--main-color);
}
.contact p {
  text-align: center;
}

.copyright {
  padding: 20px;
  text-align: center;
}
/* Making Responsive */
@media (max-width: 991px) {
  header {
    padding: 10px 4%;
  }
  section {
    padding: 50px 4%;
  }
  :root {
    --big-font: 2rem;
    --h2-font: 1rem;
  }
  .boxsr{
    height: 300px;
  }
  .showroom-container .boxsr p{
    font-size: xx-large;
    margin-left: 430px;
    margin-top: -250px;
  }
  .showroom-container .boxsr h5{
    font-size: large;
    font-weight: 500;
    margin-left: 225px; 
    color: #00000036;
  }
    .showroom-container .boxsr h4{
    font-size: large;
    font-weight: 500;
    margin-left: 207px; 
  }
  .showroom-container .boxsr img{
    margin-left: -470px;
    box-shadow: 0px 0px 15px #FFAB09;
    width: 450px;
    height: 250px;
  }
  .showroom-container .boxsr .btnsr{
    margin-left: 200px;
  }
 .btn1{
    font-size: xx-large;
    text-align:center;
 }

}
@media (max-width: 768px) {
  :root {
    --big-font: 2rem;
    --h2-font: 1.4rem;
  }
  #menu-icon {
    display: initial;
    color: var(--text-color);
  }
  header .navbar {
    position: absolute;
    top: -400px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
    transition: 0.5s;
  }
  .navbar.active {
    top: 100%;
  }
  .navbar a {
    padding: 1rem;
    display: block;
  }
  .navbar a:hover {
    color: var(--bg-oren);
    background: none;
  }
  .home {
    grid-template-columns: 1fr;
    
  }
  .home-text {
    padding-top: 2rem;
    text-align: center;
    
  }
    .boxsr {
     height: 400px;
    }
 .home-text h3{
    margin-left: 90px;
}
.showroom-container .boxsr p{
    font-size: large;
    margin-left: 0px;
    margin-top: 0px;
}
  .showroom-container .boxsr h5{
    font-size: large;
    font-weight: 500;
    color: #00000036;
    margin-left: 0px; 
  }
  .showroom-container .boxsr h4{
    font-size: large;
    font-weight: 500;
    margin-left: 0px; 
  }
.showroom-container .boxsr img{
    margin-left: 0px;
    box-shadow: 0px 0px 15px #FFAB09;
    width: 300px;
    height: 200px;
}
.showroom-container .boxsr .btnsr{
   margin-left: 0px;
}
 .btnsr{
    font-size: large;
    outline-width: 2px;
    text-align:center;
 }
  
}
@media (max-width: 415px) {
  .contact-form form input,
  textarea {
    width: auto;
  }
  
  
}

